.strona-glowna{
    height: 100vh;
    overflow: hidden;

    &::before{
        content: "";
        z-index: -1;
        position: absolute;
        top: 0px;
        height: calc( 100vh - 70px);
        width: 100%;
        background-image: url('css/images/tlo2.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    &__naglowek{
        &_logo{
            white-space: nowrap;
            padding-right: 10px;
        }

        &_nawigacja {
            flex: 1;
            padding-left: 30px;;

            &-ikonka{
                min-width: 30px;
                text-align: center;
            }

            &-logowanie {
                width: 100%;
                justify-content: flex-end;

                &-inputy{
                    max-width: 600px;
                    flex: 3;
                    & > div {
                        width: 100%;
                    }
                }

                &-przycisk{
                    flex: 2;
                    max-width: 300px;
                    display: flex;
                    justify-content: space-between;

                    & > div {
                        width: 49%;
                        max-width: 50%;
                        & > a {
                            width: 100%;
                            max-width: 100%;
                        }
                        & button {
                            width: 100%;
                            max-width: 100%;
                            padding-left: 0 !important;
                            padding-right: 0 !important;
                            margin: 0!important;
                        }
                    }
                }
            }

        }
    }

    &__wersja-jezykowa{
        &_pojemnik{
            width: 100px;
            height: 40px;
        }

        &_flaga{
            width: 40px;
            height: 25px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    &__weryfikacja-kodu{
        max-width: 85%;

        &_strefa-klienta{
            background: rgba(255,255,255,0.9);
            border: 3px solid #0d47a1;
            padding: 20px;
        }
        &_przycisk {
            height: 50px;
        }
    }

    &__rejestracja-uzytkownika{
        max-width: 85%;
        width: 400px;
        background: rgba(255,255,255,0.9);
        border: 3px solid #0d47a1;
        padding: 20px;

        &_informacja{
            width: 40vw;
        }

        &_pojemnik{
            > div {
                > .md-form {
                    margin-left: 2%;
                    width: 100%;
                    margin-bottom: 0px;
                    margin-top: 10px;

                    & > * {
                        font-size: 14px;
                    }
                }
            }
        }

    }

    &__stopka{
        position: absolute;
        bottom: 0;
        width: 100vw;
        height: 70px;
        z-index: -1
    }
}