.test {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    &__instrukcja{
        min-height: 100vh;
        &_info{
            white-space: pre-line;
        }
    }
    &__naglowek {
        height: 70px;
        color: white;
        font-weight: bold;
        &_zegar :last-child{ font-size: 30px; }
      }

    &__zadania{
        height: calc( 100vh - 70px );
        background: color;
        overflow: auto;
    }

    &__zadanie {
        & p:first-of-type {
            font-size: 10px;
        }
        &_id-pytania{
            font-weight: bold;
            margin-right: 20px;
        }
    }

}
