@import 'app/zmienne';
@import 'app/app';
@import 'app/wspolne';
@import 'app/alertPotwierdzenia';
@import 'app/logo-_JW-Testy-Online';
@import 'app/mixins';

@import 'test/test.scss';
@import 'strona-glowna/strona-glowna.scss';
@import 'strona-glowna/_strona-glowna-nagłówek.scss';
@import 'strona-glowna/_strona-glowna-weryfikacjaKodu.scss';
@import 'strona-glowna/_strona-glowna-rejestracjaUzytkownika.scss';
@import 'panel-klienta/panel-klienta.scss';
@import 'panel-klienta/kodyTestow.scss';
