body.react-confirm-alert-body-element {
    overflow: hidden;
  }
  
  .react-confirm-alert-blur {
    filter: url(#gaussian-blur);
    filter: blur(2px);
    -webkit-filter: blur(2px);
  }
  
  .react-confirm-alert__body{
    font-family: Arial, Helvetica, sans-serif;
    width: 500px;
    padding: 30px 70px;
    text-align: left;
    background: #fff;
    box-shadow: 10px 20px 75px rgba(0, 0, 0, 0.13);
    color: #4285F4;
    border-top: 1px solid #4285F4;
    border-left: 5px solid #4285F4;
  }
//   .react-confirm-alert__body > button {
//     outline: none;
//     display: inline-block;
//     padding: 6px 25px;
//     margin-right: 10px;
//     border-radius: 5px;
//     cursor: pointer;
//   }
  .react-confirm-alert__body > p {
    white-space: pre-line;
  }
  
  .react-confirm-alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: react-confirm-alert-fadeIn 0.2s forwards;
  }

  .react-confirm-alert-body > h1 {
    margin-top: 0;
  }

  
  .react-confirm-alert-svg {
    position: absolute;
    top: 0;
    left: 0;
  }
  

  
  .react-confirm-alert-body > h3 {
    margin: 0;
    font-size: 16px;
  }
  
  .react-confirm-alert-button-group {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
  }
  

  
  @-webkit-keyframes react-confirm-alert-fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @-moz-keyframes react-confirm-alert-fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @-o-keyframes react-confirm-alert-fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes react-confirm-alert-fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  