* {
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    max-height: 100vh;
    padding: 0px;
    margin: 0;
}
.App {
  min-height: 100vh;
}

*::-webkit{
  &-scrollbar {
      position: absolute;
      width: 7px;
      &-track { -webkit-box-shadow: inset 0 0 6px #0d47a1 }
      &-thumb {
          border: 1px solid black;
          background-color: #0d47a1;
          outline: 1px solid #0d47a1;
      }
  }
}

/*
 scrollbar-base-color: #000;
  scrollbar-face-color: #000;
  scrollbar-3dlight-color: #000;
  scrollbar-highlight-color: #000;
  scrollbar-track-color: #000;
  scrollbar-arrow-color: black;
  scrollbar-shadow-color: #000;
  scrollbar-dark-shadow-color: #000;

  */

.kura{
    border-radius: 10rem
}