* {
    box-sizing: border-box;
}

html, body {
    max-height: 100vh;
    min-height: 100vh;
    max-width: 100vw;
    min-width: 100vw;
    padding: 0px;
    margin: 0;

}
.App {

  max-height: 100vh;
  min-height: 100vh;
  max-width: 100vw;
  min-width: 320px;
}

*::-webkit{
  &-scrollbar {
      position: absolute;
      width: 6px;
      &-track { -webkit-box-shadow: inset 0 0 4px #0d47a1 }
      &-thumb {
          border: 1px solid black;
          background-color: #0d47a1;
          outline: 1px solid #0d47a1;
      }
  }
}


.kura{
    border-radius: 10rem
}

@media (min-width: 576px) { // sm
    *::-webkit{
        &-scrollbar {
            width: 12px;
            &-track { -webkit-box-shadow: inset 0 0 10px #0d47a1 }
        }
      }
      
}