.wspolne{

}
.rgba_255_0_0_02{
    background: rgba(255, 255, 255, 0.1)
}

.ble{
    border: red solid 3px;
}

.przycisk-z-loaderem{
    width: 150px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.w-175px{
    width: 175px;
}
.w-200px{
    width: 200px;
}

.pokaz{
    display: block !important;
}

.ukryj{
    display: none !important;
}

.jw-overflow-y{
    overflow-y: visible !important;
}